version: "3.3"

services:
  mariadb:
    image: mariadb
    environment:
      - "MARIADB_USER=example"
      - "MARIADB_PASSWORD=example"
      - "MARIADB_ROOT_PASSWORD=rootpass"
      - "MARIADB_DATABASE=talks"
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    image: selectparticipant-backend
    environment:
      SPRING_APPLICATION_JSON: '{"spring":{"datasource":{"url":"jdbc:mariadb://mariadb:3306/talks"}}}' 
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
      - "traefik.http.services.backend.loadbalancer.server.port=8080"
    depends_on:
      - mariadb
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    image: selectparticipant-frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
  traefik:
    image: "traefik:v2.5"
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - 5000:80
      - 5001:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro